.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .main {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }

    .buttonWrapper {
        margin-bottom: 20px;

        .button {
            height: 40px;
            width: 550px;
            border-radius: 25px;
        }

        .button:first-child {
            margin-right: 18px;
        }
    }
}